Repository Tatsh/youtube-unofficial: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-check-lock, fix-formatting-markdown

yarn-check-lock:
  entry: yarn install --check-cache --immutable
  language: system
  name: check yarn.lock is up-to-date
  pass_filenames: false

fix-formatting-markdown:
  entry: yarn markdownlint-cli2 --fix '#node_modules'
  language: system
  name: check Markdown files are formatted

snapcraft: fix bin
  snapcraft.yaml
Due: none

cruft: update
  .prettierignore
  .vscode/dictionary.txt
  .vscode/settings.json
  CITATION.cff
  README.md
  poetry.lock
  pyproject.toml
Due: fix-formatting-markdown

docs/index: replace badges
  docs/index.rst
Due: none

pre-commit-config: update
  .pre-commit-config.yaml
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  yarn.lock
Due: yarn-check-lock

dictionary: update
  .vscode/dictionary.txt
Due: none

project: expand client test coverage and trim playlist ytcfg guard
  tests/client/data/get-history-video-ids/00-bad-video-id-type.json
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_simple.py
  tests/test_utils.py
  youtube_unofficial/client.py
  youtube_unofficial/download.py
  youtube_unofficial/utils.py
Due: none

cruft: update
  .claude/agents/badge-sync.md
  .claude/agents/qa-fixer.md
  .claude/settings.local.json.dist
  .github/workflows/markdownlint.yml
  .github/workflows/prettier.yml
  .github/workflows/qa.yml
  .pre-commit-config.yaml
  .vscode/dictionary.txt
  CITATION.cff
  package.json
  sh.tat.youtube-unofficial.yml
  snapcraft.yaml
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

project: switch to async niquests and add Python 3.10/3.11 support
  .wiswa.jsonnet
  CHANGELOG.md
  README.md
  pyproject.toml
  tests/client/test_clear_playlist.py
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_get_playlist_video_ids.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_simple.py
  tests/client/test_toggle_history.py
  tests/conftest.py
  tests/pyproject.toml
  tests/test_download.py
  tests/test_main.py
  tests/test_session.py
  uv.lock
  youtube_unofficial/__init__.py
  youtube_unofficial/client.py
  youtube_unofficial/commands.py
  youtube_unofficial/download.py
  youtube_unofficial/session.py
  youtube_unofficial/utils.py
Due: fix-formatting-markdown

cruft: update
  .github/workflows/markdownlint.yml
  .github/workflows/prettier.yml
  .github/workflows/qa.yml
  .vscode/dictionary.txt
  .wiswa.jsonnet
  pyproject.toml
  sh.tat.youtube-unofficial.yml
  snapcraft.yaml
  tests/pyproject.toml
  uv.lock
  yarn.lock
Due: none

cruft: update
  .wiswa.jsonnet
  pyproject.toml
  uv.lock
Due: none

cruft: update
  .claude/agents/click-auditor.md
  .claude/agents/release.md
  .claude/agents/wiswa-sync.md
  .claude/settings.local.json.dist
  .github/workflows/appimage.yml
  .github/workflows/publish.yml
  .github/workflows/pyinstaller.yml
  .github/workflows/qa.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.14.1.cjs
  .yarnrc.yml
  CITATION.cff
  package.json
  pyproject.toml
  uv.lock
  yarn.lock
  youtube_unofficial/session.py
Due: yarn-check-lock, fix-formatting-markdown

project: remove trailing commas
  tests/client/test_clear_playlist.py
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_get_playlist_video_ids.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_simple.py
  tests/test_utils.py
  youtube_unofficial/client.py
  youtube_unofficial/commands.py
  youtube_unofficial/constants.py
  youtube_unofficial/typing/playlist.py
  youtube_unofficial/utils.py
Due: none

cruft: update
  .claude/agents/release.md
  .claude/agents/wiswa-sync.md
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  CITATION.cff
  package.json
  pyproject.toml
  uv.lock
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

bump: v0.3.1 → v0.4.0
  .wiswa.jsonnet
  CHANGELOG.md
  CITATION.cff
  README.md
  docs/badges.rst
  man/youtube-unofficial.1
  package.json
  pyproject.toml
  snapcraft.yaml
  uv.lock
  youtube_unofficial/__init__.py
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  CITATION.cff
  pyproject.toml
  uv.lock
Due: none

docs.conf: update intersphinx mapping and fix repo icon
  docs/conf.py
Due: none

docs.conf: add anyio, html5lib, more-itertools, niquests-cache, yt-dlp-utils
  docs/conf.py
Due: none

security: update supported versions
  .wiswa.jsonnet
  SECURITY.md
Due: fix-formatting-markdown

cruft: update
  .claude/agents/badge-sync.md
  .claude/agents/changelog.md
  .claude/agents/click-auditor.md
  .claude/agents/copy-editor.md
  .claude/agents/coverage-improver.md
  .claude/agents/docstring-fixer.md
  .claude/agents/markdownlint-fixer.md
  .claude/agents/mypy-fixer.md
  .claude/agents/python-expert.md
  .claude/agents/python-moderniser.md
  .claude/agents/qa-fixer.md
  .claude/agents/regen.md
  .claude/agents/release.md
  .claude/agents/test-writer.md
  .claude/agents/wiswa-sync.md
  .claude/agents/workflow-shellcheck.md
  .claude/settings.json
  .github/workflows/codeql.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/sync-to-gitlab.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .wiswa.jsonnet
  .yarnrc.yml
  CHANGELOG.md
  CITATION.cff
  package.json
  pyproject.toml
  uv.lock
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

deps: update
  uv.lock
Due: none

workflows/sync-to-gitlab: push only master and tags
  .github/workflows/sync-to-gitlab.yml
Due: none

workflows/sync-to-gitlab: run only on master and tags
  .github/workflows/sync-to-gitlab.yml
Due: none

gitignore: ignore local session and hook files
  .gitignore
Due: none

cruft: update
  .claude/agents/changelog.md
  .claude/agents/wiswa-sync.md
  .claude/skills/ci/SKILL.md
  .claude/skills/make-release/SKILL.md
  .github/dependabot.yml
  .github/workflows/appimage.yml
  .github/workflows/codeql.yml
  .github/workflows/flatpak.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier.yml
  .github/workflows/publish.yml
  .github/workflows/pyinstaller.yml
  .github/workflows/qa.yml
  .github/workflows/release.yml
  .github/workflows/snap.yml
  .github/workflows/spelling.yml
  .github/workflows/sync-to-gitlab.yml
  .github/workflows/tests.yml
  .github/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .yarn/releases/yarn-4.14.1.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  AGENTS.md
  CHANGELOG.md
  CITATION.cff
  package.json
  pyproject.toml
  uv.lock
  yarn.lock
  youtube_unofficial/client.py
  youtube_unofficial/session.py
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  .claude/agents/copy-editor.md
  .claude/agents/python-expert.md
  .claude/rules/comments.md
  .claude/rules/general.md
  .claude/rules/prose.md
  .claude/rules/python.md
  .claude/skills/ci/SKILL.md
  .claude/skills/make-release/SKILL.md
  .claude/skills/prose-lint/SKILL.md
  .github/workflows/appimage.yml
  .github/workflows/codeql.yml
  .github/workflows/flatpak.yml
  .github/workflows/publish.yml
  .github/workflows/pyinstaller.yml
  .github/workflows/qa.yml
  .github/workflows/snap.yml
  .github/zizmor.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .yarn/releases/yarn-4.18.0.cjs
  .yarn/releases/yarn-4.18.1.cjs
  .yarnrc.yml
  AGENTS.md
  CITATION.cff
  README.md
  docs/badges.rst
  package.json
  pyproject.toml
  tests/conftest.py
  tests/pyproject.toml
  uv.lock
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

project: apply formatters after cruft update
  tests/client/test_clear_playlist.py
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_get_playlist_video_ids.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_simple.py
  tests/client/test_toggle_history.py
  tests/test_download.py
  tests/test_main.py
  tests/test_session.py
  tests/test_utils.py
Due: none

claude/skills/make-release: write working tree instead of worktree
  .claude/skills/make-release/SKILL.md
Due: fix-formatting-markdown

workflows/spelling: run the locked cspell instead of cspell-action
  .github/workflows/spelling.yml
Due: none

workflows/*: pass the zizmor pedantic persona
  .github/workflows/appimage.yml
  .github/workflows/codeql.yml
  .github/workflows/flatpak.yml
  .github/workflows/markdownlint.yml
  .github/workflows/prettier.yml
  .github/workflows/publish.yml
  .github/workflows/pyinstaller.yml
  .github/workflows/qa.yml
  .github/workflows/release.yml
  .github/workflows/snap.yml
  .github/workflows/spelling.yml
  .github/workflows/sync-to-gitlab.yml
  .github/workflows/tests.yml
  .github/zizmor.yml
  sh.tat.youtube-unofficial.yml
Due: none

project: apply Ruff fixes for Python 3.11
  youtube_unofficial/client.py
  youtube_unofficial/download.py
Due: none

project: require Python 3.11
  .claude/agents/mypy-fixer.md
  .github/workflows/qa.yml
  .github/workflows/tests.yml
  .github/zizmor.yml
  .pre-commit-config.yaml
  .vscode/dictionary.txt
  CHANGELOG.md
  docs/conf.py
  pyproject.toml
  uv.lock
  yarn.lock
Due: fix-formatting-markdown

project: update the template dependencies
  package.json
  pyproject.toml
  uv.lock
  yarn.lock
Due: yarn-check-lock

workflows/qa: run mypy on the oldest Python
  .github/workflows/qa.yml
Due: none

Path conditions:
  yarn-check-lock: any of: ^package\.json$
  fix-formatting-markdown: any of: \.(md|markdown|mdown)$
