Repository Tatsh/youtube-unofficial: changes, and which pre-commit hooks are due for each by the changed paths.
All: yarn-check-lock, fix-formatting-markdown

yarn-check-lock:
  entry: yarn install --check-cache --immutable
  language: system
  name: check yarn.lock is up-to-date
  pass_filenames: false

fix-formatting-markdown:
  entry: yarn markdownlint-cli2 --fix '#node_modules'
  language: system
  name: check Markdown files are formatted

readme: update
  README.md
Due: fix-formatting-markdown

changelog: update
  CHANGELOG.md
Due: fix-formatting-markdown

Cruft update
  .vscode/dictionary.txt
  .wiswa.jsonnet
  README.md
  package.json
  poetry.lock
  pyproject.toml
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

Update man page
  man/youtube-unofficial.1
Due: none

Documentation changes; export changes
  youtube_unofficial/client.py
  youtube_unofficial/commands.py
  youtube_unofficial/constants.py
  youtube_unofficial/download.py
  youtube_unofficial/typing/history.py
  youtube_unofficial/typing/playlist.py
Due: none

Start tests
  tests/test_client.py
  tests/test_main.py
  tests/test_utils.py
Due: none

More tests; remove benedict dependency
  poetry.lock
  pyproject.toml
  tests/test_client.py
  tests/test_main.py
  youtube_unofficial/client.py
  youtube_unofficial/constants.py
Due: none

Revert to older version; less complex types
  tests/conftest.py
  tests/test_client.py
  youtube_unofficial/client.py
Due: none

Separate client tests
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_simple.py
  tests/client/test_toggle_history.py
  tests/test_client.py
Due: none

Complete tests
  tests/client/test_clear_playlist.py
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_get_playlist_video_ids.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_simple.py
  tests/client/test_toggle_history.py
  youtube_unofficial/client.py
Due: none

Coverage settings
  .wiswa.jsonnet
  pyproject.toml
Due: none

security: update
  SECURITY.md
Due: fix-formatting-markdown

tests: fix argument
  tests/client/test_get_playlist_video_ids.py
Due: none

Use USER_SESSION_ID for SAPISIDHASH for now
  youtube_unofficial/client.py
Due: none

Fix tests
  tests/client/test_clear_playlist.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
  tests/client/test_get_playlist_info.py
  tests/client/test_get_playlist_video_ids.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_simple.py
Due: none

Clean up
  tests/test_utils.py
  youtube_unofficial/client.py
  youtube_unofficial/typing/history.py
  youtube_unofficial/typing/playlist.py
  youtube_unofficial/typing/ytcfg.py
  youtube_unofficial/utils.py
Due: none

client: fix get_history_video_ids() overloads
  youtube_unofficial/client.py
Due: none

commands: minor changes
  youtube_unofficial/commands.py
Due: none

Update manpage
  man/youtube-unofficial.1
Due: none

Move test data into JSON files; fix type
  .vscode/dictionary.txt
  tests/client/data/README.md
  tests/client/data/get-playlist-info/00.json
  tests/client/data/get-playlist-info/10-continuation-responses.json
  tests/client/data/get-playlist-info/10-continuation.json
  tests/client/data/get-playlist-info/10-empty.json
  tests/client/data/get-playlist-video-ids/20-video-ids-dict.json
  tests/client/data/get-playlist-video-ids/20-video-ids.json
  tests/client/data/remove-video-ids-00.json
  tests/client/data/response-logged-out-00.json
  tests/client/data/response-no-feedback-00.json
  tests/client/data/toggle-history-00.json
  tests/client/test_get_playlist_info.py
  tests/client/test_get_playlist_video_ids.py
  tests/client/test_remove_video_ids_from_history.py
  tests/client/test_response_logged_out.py
  tests/client/test_response_no_feedback.py
  tests/client/test_toggle_history.py
  tests/conftest.py
  youtube_unofficial/client.py
Due: fix-formatting-markdown

Cruft update
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .wiswa.jsonnet
  CITATION.cff
  package.json
  poetry.lock
  pyproject.toml
  tests/conftest.py
Due: yarn-check-lock

More data files for testing
  tests/client/data/clear-playlist/00-empty-iter.json
  tests/client/data/clear-playlist/00-empty.json
  tests/client/data/clear-playlist/00.json
  tests/client/data/clear-watch-history/00-button-disabled.json
  tests/client/data/clear-watch-history/00.json
  tests/client/data/get-history-info/00-alt-continuation-response.json
  tests/client/data/get-history-info/00-alt-continuation.json
  tests/client/data/get-history-info/00-bad-continuation.json
  tests/client/data/get-history-info/00-no-continuation-on-2nd-req-responses.json
  tests/client/data/get-history-info/00-no-continuation-on-2nd-req.json
  tests/client/data/get-history-info/00-no-continuation.json
  tests/client/data/get-history-info/00-no-videos.json
  tests/client/data/get-history-info/00-with-continuation-response.json
  tests/client/data/get-history-info/00-with-continuation.json
  tests/client/data/get-history-video-ids/00-empty.json
  tests/client/data/get-history-video-ids/00-missing-video-id.json
  tests/client/data/get-history-video-ids/00-strings.json
  tests/client/data/get-history-video-ids/00.json
  tests/client/test_clear_playlist.py
  tests/client/test_clear_watch_history.py
  tests/client/test_get_history_info.py
  tests/client/test_get_history_video_ids.py
Due: none

bump: version 0.2.0 → 0.3.0
  .wiswa.jsonnet
  CITATION.cff
  README.md
  package.json
  pyproject.toml
Due: yarn-check-lock, fix-formatting-markdown

.vscode/dictionary: update
  .vscode/dictionary.txt
  package.json
  yarn.lock
Due: yarn-check-lock

QA fixes
  .vscode/dictionary.txt
  SECURITY.md
Due: fix-formatting-markdown

project: update deps
  package.json
  yarn.lock
Due: yarn-check-lock

project: update deps
  poetry.lock
  pyproject.toml
Due: none

project: bump deps
  package.json
  poetry.lock
  pyproject.toml
  yarn.lock
Due: yarn-check-lock

cruft: update
  .github/dependabot.yml
  .github/instructions/general.instructions.md
  .github/instructions/json-yaml.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/python-tests.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/toml-ini.instructions.md
  .github/workflows/qa.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .readthedocs.yaml
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/settings.json
  .wiswa.jsonnet
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  CITATION.cff
  package.json
  poetry.lock
  pyproject.toml
  tests/pyproject.toml
  youtube_unofficial/__init__.py
  youtube_unofficial/__main__.py
  youtube_unofficial/client.py
  youtube_unofficial/commands.py
  youtube_unofficial/constants.py
  youtube_unofficial/download.py
  youtube_unofficial/main.py
  youtube_unofficial/typing/__init__.py
  youtube_unofficial/typing/history.py
  youtube_unofficial/typing/playlist.py
  youtube_unofficial/typing/ytcfg.py
  youtube_unofficial/utils.py
Due: yarn-check-lock, fix-formatting-markdown

docs: add CodeQL badge
  docs/index.rst
Due: none

cruft: update
  CHANGELOG.md
  docs/index.rst
Due: fix-formatting-markdown

cruft: update
  .github/instructions/python.instructions.md
  .pre-commit-config.yaml
  .vscode/dictionary.txt
  .vscode/extensions.json
  .wiswa.jsonnet
  .yarn/releases/yarn-4.10.2.cjs
  .yarn/releases/yarn-4.9.4.cjs
  .yarnrc.yml
  CITATION.cff
  CONTRIBUTING.md
  package.json
  poetry.lock
  pyproject.toml
  youtube_unofficial/client.py
  youtube_unofficial/download.py
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  .github/instructions/python.instructions.md
  .github/workflows/appimage.yml
  .github/workflows/publish.yml
  .github/workflows/pyinstaller.yml
  .github/workflows/qa.yml
  .github/workflows/tests.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  .vscode/extensions.json
  .vscode/settings.json
  .yarn/releases/yarn-4.10.2.cjs
  .yarn/releases/yarn-4.12.0.cjs
  .yarnrc.yml
  CITATION.cff
  README.md
  docs/conf.py
  package.json
  poetry.lock
  pyproject.toml
  yarn.lock
Due: yarn-check-lock, fix-formatting-markdown

bump: version 0.3.0 → 0.3.1
  .wiswa.jsonnet
  CITATION.cff
  README.md
  docs/index.rst
  man/youtube-unofficial.1
  package.json
  pyproject.toml
  youtube_unofficial/__init__.py
Due: yarn-check-lock, fix-formatting-markdown

cruft: update
  .github/workflows/appimage.yml
  .github/workflows/pyinstaller.yml
  .vscode/dictionary.txt
  CITATION.cff
  LICENSE.txt
  poetry.lock
  pyproject.toml
Due: none

cruft: update
  .cursor/rules/json-yaml.mdc
  .cursor/rules/markdown.mdc
  .cursor/rules/python-tests.mdc
  .cursor/rules/python.mdc
  .cursor/rules/toml-ini.mdc
  .github/workflows/snap.yml
  .pre-commit-config.yaml
  .prettierignore
  .vscode/dictionary.txt
  CITATION.cff
  package.json
  poetry.lock
  pyproject.toml
  snapcraft.yaml
  yarn.lock
Due: yarn-check-lock

Path conditions:
  yarn-check-lock: any of: ^package\.json$
  fix-formatting-markdown: any of: \.(md|markdown|mdown)$
